# AWS
AWS_REGION=us-east-1
AWS_PROFILE=your-local-aws-profile

# Amazon Bedrock AgentCore
AGENTCORE_HARNESS_ARN=your-agentcore-harness-arn

# Amazon Bedrock Guardrails
GUARDRAIL_ID=your-bedrock-guardrail-id
GUARDRAIL_VERSION=DRAFT

# Amazon SageMaker
MODEL_PACKAGE_ARN=your-sagemaker-model-package-arn
MODEL_NAME=your-sagemaker-model-name
SAGEMAKER_ROLE_ARN=your-sagemaker-execution-role-arn
SAGEMAKER_ENDPOINT_NAME=your-sagemaker-endpoint-name

# Amazon S3
PROJECT_BUCKET=your-project-s3-bucket

# Amazon Textract
TEXTRACT_JOB_ID=your-textract-job-id

# Amazon OpenSearch Serverless
OPENSEARCH_ENDPOINT=your-opensearch-serverless-endpoint