# Python
__pycache__/
*.pyc
.venv/
venv/
.venv-wsl/

# Environment variables / secrets
.env
.env.*

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json

# Keep Terraform provider lock file
!.terraform.lock.hcl

# Local data
data/*
!data/.gitkeep

# Local model artifacts
models/

# Generated monitoring artifacts
monitoring/*_batch.json
monitoring/*_response.json
monitoring/production_*.csv

# IDE
.vscode/
.idea/

# AWS CLI local files
aws/
awscliv2.zip

# Lambda deployment artifacts
agent/**/package/
agent/**/*.zip